extends ../main
block title
    | Ricerca
block content
    main.main--pages
        h1.page__title.page__title--red
            | Ricerca
        .page__content-container
            .introduce.introduce--red
                h2.introduce__title
                    | Ci sentiamo investiti da un'importante missione
                .introduce__text
                    div
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    div
                        strong
                            | BradoOffice
                        | dà forma a un'idea: quella di rendere gli spazi lavorativi più gradevoli e vivibili, grazie a una vasta gamma di sedute adatte ai più diversi stili di ufficio.
        .page-video__wrapper
            video( controls width="100%" height="100%" class='page-video__video superembed-force' poster='commons/images/page-video-poster.jpg' preload='metadata')
                source(src="commons/video/Brado Office Interzum 2015-SD.mp4" type="video/mp4")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg")/
                object(type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360")
                    param(name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf")/
                    param(name="allowFullScreen" value="true")/
                    param(name="wmode" value="transparent")/
                    param(ame="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}")/
                    img(alt="Big Buck Bunny" src="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360" title="No video playback capabilities, please download the video below")/
        .page-video__info
            .page-video__title
                | utilizzo dei macchinari in produzione
            .page-video__duration.page-video__duration--red
                | video 30"
        .page-video__wrapper
            video( controls width="100%" height="100%" class='page-video__video superembed-force' poster='commons/images/page-video-poster.jpg' preload='metadata')
                source(src="commons/video/Brado Office Interzum 2015-SD.mp4" type="video/mp4")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg")/
                object(type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360")
                    param(name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf")/
                    param(name="allowFullScreen" value="true")/
                    param(name="wmode" value="transparent")/
                    param(ame="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}")/
                    img(alt="Big Buck Bunny" src="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360" title="No video playback capabilities, please download the video below")/
        .page-video__info
            .page-video__title
                | utilizzo dei macchinari in produzione
            .page-video__duration.page-video__duration--red
                | video 30"orange
