extends ../main
block title
    | Product Detail
block content
    main.main
        h1.product-detail__title
            | Kind Family
        .product-category__content
            .collection__name-wrapper
                h2.collection__name
                    | Collezione Kind
                h3.collection__author
                    | designer Tomoko Azumi
            .collection__info
                | Brevissima descrizione tecnica della sedia / impiego di quali materiali / caratterisctiche principali costiuenti.
            a(class='collection__download' download)
                | SCARICA MANAGER PDF
        ul.collection__list
            -var items = ['Kind 202 AP', 'Kind 203 AP', 'Kind 203 APW', 'Kind 204 A', 'Kind 202 AP', 'Kind 203 AP', 'Kind 203 APW', 'Kind 204 A']
            each item in items
                li.collection__item
                    a(class='collection__link' href='#')
                        .collection__image-wrapper
                            img(class='collection__image' src="commons/images/chair.jpg")
                        .collection__item-name= item
            
