extends ../main
block title
    | video
block content
    main.main--pages.main--black
        .container.container--video
            h2.page-video__main-title
                | la filiera produttiva
            .page-video__wrapper
                video(class='page-video__video ' poster='commons/images/page-video-poster.jpg' preload='metadata')
                    source(src='')
                button(type='button').page-video__btn.page-video__btn--lime
            .page-video__info.page-video__info--black
                .page-video__step
                    | step 3
                .page-video__title.page-video__title--lime
                    | Stampaggio e production quality control
                .page-video__text
                    | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.
            .page-video__wrapper
                video( controls width="100%" height="100%" class='page-video__video superembed-force' poster='commons/images/page-video-poster.jpg' preload='metadata')
                source(src="commons/video/Brado Office Interzum 2015-SD.mp4" type="video/mp4")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg")/
                object(type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360")
                    param(name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf")/
                    param(name="allowFullScreen" value="true")/
                    param(name="wmode" value="transparent")/
                    param(ame="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}")/
                    img(alt="" src="commons/images/page-video-poster.jpg" width="100%" height="auto" title="No video playback capabilities, please download the video below")/
            .page-video__info.page-video__info--black
                .page-video__step
                    | step 4
                .page-video__title.page-video__title--lime
                    | Stampaggio e production quality control
                .page-video__text
                    | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.
            .page-video__wrapper
                video( controls width="100%" height="100%" class='page-video__video superembed-force' poster='commons/images/page-video-poster.jpg' preload='metadata')
                source(src="commons/video/Brado Office Interzum 2015-SD.mp4" type="video/mp4")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg")/
                object(type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360")
                    param(name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf")/
                    param(name="allowFullScreen" value="true")/
                    param(name="wmode" value="transparent")/
                    param(ame="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}")/
                    img(alt="" src="commons/images/page-video-poster.jpg" width="100%" height="auto" title="No video playback capabilities, please download the video below")/
            .page-video__info.page-video__info--black
                .page-video__step
                    | step 5
                .page-video__title.page-video__title--lime
                    | Stampaggio e production quality control
                .page-video__text
                    | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.

