extends ../main
block title
    | video
block content
    main.main--pages.main--black
        .page__content-container
            .introduce
                h2.introduce__title.introduce__title--lime
                    | la filiera produttiva
        .page-video__wrapper
            video(class='page-video__video' poster='commons/images/page-video-poster.jpg' preload='metadata')
                source(src='')
            button(type='button').page-video__btn.page-video__btn--lime
        .page-video__info
            .page-video__title.page-video__title--white
                | utilizzo dei macchinari in produzione
            .page-video__subtitle.page-video__subtitle--lime
                | video 30"
            .page-video__text
                | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.
        .page-video__wrapper
            video(class='page-video__video' poster='commons/images/page-video-poster.jpg' preload='metadata')
                source(src='')
            button(type='button').page-video__btn.page-video__btn--lime
        .page-video__info
            .page-video__title.page-video__title--white
                | utilizzo dei macchinari in produzione
            .page-video__subtitle.page-video__subtitle--lime
                | video 30"
            .page-video__text
                | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.
