extends ../main
block title
    | video
block content
    main.main--pages.main--black
        .container.container--video
            h2.page-video__main-title
                | la filiera produttiva
            .page-video__wrapper
                video(class='page-video__video ' poster='commons/images/page-video-poster.jpg' preload='metadata')
                    source(src='')
                button(type='button').page-video__btn.page-video__btn--lime
            .page-video__info.page-video__info--black
                .page-video__step
                    | step 3
                .page-video__title.page-video__title--lime
                    | Stampaggio e production quality control
                .page-video__text
                    | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.
            .page-video__wrapper
                video(class='page-video__video' poster='commons/images/page-video-poster.jpg' preload='metadata')
                    source(src='')
                button(type='button').page-video__btn.page-video__btn--lime
            .page-video__info.page-video__info--black
                .page-video__step
                    | step 4
                .page-video__title.page-video__title--lime
                    | Stampaggio e production quality control
                .page-video__text
                    | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.
            .page-video__wrapper
                video(class='page-video__video' poster='commons/images/page-video-poster.jpg' preload='metadata')
                    source(src='')
                button(type='button').page-video__btn.page-video__btn--lime
            .page-video__info.page-video__info--black
                .page-video__step
                    | step 5
                .page-video__title.page-video__title--lime
                    | Stampaggio e production quality control
                .page-video__text
                    | Lo svolgimento di rigorosi test preliminari, ed il controllo di qualità in fase operativa, offrono la possibilità di garantire standard sempre elevatissimi.

