extends ../main
block title
    | news
block content
    main.main--pages.main--black.main--news
        section.news-teaser.news-teaser--odd
            .news-teaser__img-wrapper
                img(class='news-teaser__img' src='commons/images/news-chair.jpg')
            .news-teaser__content
                .news-teaser__content-wrapper
                    .news-teaser__date
                        | 26.04.2016
                    .news-teaser__title
                        | Brado contract presenta: mindy
                    .news-teaser__text
                        | "Brado, Treviso, Italy, wanted to add the new plastic chairs to its Contract line of seating targeted at hotels, reataurants, schools and other institutions. The company worked with top architectural and ...
                    a(class='news-teaser__show-more' href="#")
                        span
                            | show more
        section.news-teaser.news-teaser--even
            .news-teaser__content
                .news-teaser__content-wrapper
                    .news-teaser__date
                        | 26.04.2016
                    .news-teaser__title
                        | Brado e clariant colorworks
                    .news-teaser__text
                        | "Brado, Treviso, Italy, wanted to add the new plastic chairs to its Contract line of seating targeted at hotels, reataurants, schools and other institutions. The company worked with top architectural and ...
                    a(class='news-teaser__show-more' href="#")
                        span
                            | show more
            .news-teaser__img-wrapper
                img(class='news-teaser__img' src='commons/images/news-map.jpg')
        section.news-teaser.news-teaser--odd
            .news-teaser__img-wrapper
                img(class='news-teaser__img' src='commons/images/news-hand.jpg')
            .news-teaser__content
                .news-teaser__content-wrapper
                    .news-teaser__date
                        | 26.04.2016
                    .news-teaser__title
                        | Brado e clariant colorworks
                    .news-teaser__text
                        | "Brado, Treviso, Italy, wanted to add the new plastic chairs to its Contract line of seating targeted at hotels, reataurants, schools and other institutions. The company worked with top architectural and ...
                    a(class='news-teaser__show-more' href="#")
                        span
                            | show more
        button(class='news-teaser__more-btn' type='button')
            | Carica altre news
