extends ../main
block title
    | Single News
block content
    main.main--pages
        .single-news__hero-wrapper
            img(class='single-news__hero-img' src='commons/images/hero.jpg')
        .single-news__content-container
            h1.single-news__title
                | Brado Factory presenta: mindy
            .single-news__text-wrapper
                .single-news__date
                    | 12.07.2016
                .single-news__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam 
            .single-news__product-wrapper
                .product__image-wrapper
                    img(src="commons/images/single-news-chair.jpg").product__image
                .product__info-wrapper
                    .product__info
                        .product__name
                            | MINDY kit 22/f
                        .product__text
                            | Scocca su base piramidale in alluminio c/piedini, supporto basso, girevole 360° ù eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicaboNemo enim ipsam voluptatem 
        .single-news__carousel-wrapper
            .single-news__carousel
                .single-news__slide
                    .single-news__slide-wrapper
                        img(src="commons/images/chair.jpg", alt="" class='single-news__slide-img')
                    h3.slide-title
                        b
                            | pepermint 
                        | EQ
                .single-news__slide
                    .single-news__slide-wrapper
                        img(src="commons/images/chair.jpg", alt="" class='single-news__slide-img')
                    h3.slide-title
                        b
                            | pepermint 
                        | EQ
                .single-news__slide
                    .single-news__slide-wrapper
                        img(src="commons/images/chair.jpg", alt="" class='single-news__slide-img')
                    h3.slide-title
                        b
                            | pepermint 
                        | EQ
                .single-news__slide
                    .single-news__slide-wrapper
                        img(src="commons/images/chair.jpg", alt="" class='single-news__slide-img')
                    h3.slide-title
                        b
                            | pepermint 
                        | EQ
                .single-news__slide
                    .single-news__slide-wrapper
                        img(src="commons/images/chair.jpg", alt="" class='single-news__slide-img')
                    h3.slide-title
                        b
                            | pepermint 
                        | EQ
                .single-news__slide
                    .single-news__slide-wrapper
                        img(src="commons/images/chair.jpg", alt="" class='single-news__slide-img')
                    h3.slide-title
                        b
                            | pepermint 
                        | EQ
        .single-news__bottom-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa libero quae dolore ut, veniam error minima nemo cumque voluptatibus repudiandae totam ipsa pariatur blanditiis natus architecto at harum, aut ad possimus ratione vero incidunt maiores non. Sed, saepe, illum. Necessitatibus laboriosam numquam in ab! Necessitatibus ratione aliquid cum nulla.
        .single-news__video-wrapper
            video( controls width="100%" height="100%" class='single-news__video superembed-force' poster='commons/images/hero-poster.jpg' preload='metadata')
                source(src="commons/video/Brado Office Interzum 2015-SD.mp4" type="video/mp4")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm")/
                source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg")/
                object(type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360")
                    param(name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf")/
                    param(name="allowFullScreen" value="true")/
                    param(name="wmode" value="transparent")/
                    param(ame="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}")/
                    img(alt="Big Buck Bunny" src="commons/images/hero-poster.jpg" width="100%" height="auto" title="No video playback capabilities, please download the video below")/
            
                    
            
