extends ../main
block title
    | Single News
block content
    main.main--pages
        .single-news__hero-wrapper
            img(class='single-news__hero-img' src='commons/images/hero.jpg')
        .single-news__content-container
            h1.single-news__title
                | Brado Factory presenta: mindy
            .single-news__text-wrapper
                .single-news__date
                    | 12.07.2016
                .single-news__text
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt molestiae, in iusto hic provident ducimus consectetur voluptatem. Vel maxime eligendi nulla magni cupiditate, quidem, repellat rem sed porro a. Repellat reiciendis eum, quisquam et, dicta voluptates est iusto deleniti aut culpa reprehenderit libero, placeat amet. Nemo repellat quae, eum temporibus!
            .single-news__product-wrapper
                .product__image-wrappr
                    img(src="commons/images/single-news-chair.jpg").product__image
                .product__info-wrapper
                    .product__info
                        .product__name
                            | mindy kit 22/f
                        .prouct__text
                            | Scocca su base piramidale in alluminio c/piedini, supporto basso, girevole 360°ù eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicaboNemo enim ipsam voluptatem 
        .single-news__carousel
            .single-news__slide
                img(src="commons/images/chair.jpg", alt="")
                h3.slide-title
                    | pepermint EQ
            .single-news__slide
                img(src="commons/images/chair.jpg", alt="")
                h3.slide-title
                    | pepermint EQ
            .single-news__slide
                img(src="commons/images/chair.jpg", alt="")
                h3.slide-title
                    | pepermint EQ
        .single-news__bottom-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa libero quae dolore ut, veniam error minima nemo cumque voluptatibus repudiandae totam ipsa pariatur blanditiis natus architecto at harum, aut ad possimus ratione vero incidunt maiores non. Sed, saepe, illum. Necessitatibus laboriosam numquam in ab! Necessitatibus ratione aliquid cum nulla.
        .single-news__video-wrapper
            video(poster='commons/images/hero.jpg').single-news__video
                source
            
                    
            
