select.languages-menu
    -var items =['it', 'en', 'ru', 'sp']
    each item in items
        if (item=='it')
            option( class="languages-menu__item" selected)= item
        if (item!='it')
            option( class="languages-menu__item" )= item