.page__content-container {
    text-align: center;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
}
.page__title {
    width: 100%;
    margin: 0;
    font-size: 50px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;

    &--lime {
        background: var(--lime);
    }
    &--green {
        background: var(--green);
    }
    &--orange {
        background: var(--orange);
    }
    &--blue {
        background: var(--blue);
    }
    &--purple {
        background: var(--purple);
    }
    &--red {
        background: var(--red);
    }
}
.introduce {
    background: no-repeat 0 0;
    background-repeat: no-repeat;
    background-size: contain;

    &--lime {
        background-image: url('../img/sprite/page-bg-lime.png');
    }
}
.introduce__title {
    &--lime {
        color: var(--lime);
    }
}
.page-video__text {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
}
