.page__content-container {
    text-align: center;
    padding-top: 120px;
    max-width: 950px;
    margin: 0 auto;
}
.page__title {
    width: 100%;
    margin: 0;
    font-size: 50px;
    padding: 40px;
    letter-spacing: -1.3px;
    line-height: 1.19;
    text-align: center;
    text-transform: uppercase;

    &--lime {
        background: var(--lime);
    }
    &--green {
        background: var(--green);
    }
    &--orange {
        background: var(--orange);
    }
    &--blue {
        background: var(--blue);
    }
    &--purple {
        background: var(--purple);
    }
    &--red {
        background: var(--red);
    }
}
.introduce {
    background: no-repeat 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 55px;

    &--lime {
        background-image: url('../img/sprite/page-bg-lime.png');
    }
}
.introduce__title {
    line-height: 1.15;
    font-weight: 700;
    padding: 0 20px;
    &--lime {
        color: var(--lime);
    }
}
.page-video__text {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;

}
