.page__content-container {
    text-align: center;
    padding-top: 120Px;
    width: 950Px;
    padding-top: 120px;
    width: 950px;
    margin: 0 auto;
}
.page__title {
    width: 100%;
    margin: 0;
    font-size: 50Px;
    padding: 40Px;
    letter-spacing: -1.3Px;
    font-size: 50px;
    padding: 40px;
    letter-spacing: -1.3px;
    line-height: 1.19;
    text-align: center;
    text-transform: uppercase;

    &--lime {
        background: var(--lime);
    }
    &--green {
        background: var(--green);
    }
    &--orange {
        background: var(--orange);
    }
    &--blue {
        background: var(--blue);
    }
    &--purple {
        background: var(--purple);
    }
    &--red {
        background: var(--red);
    }
}
.introduce {
    padding-top: 55px;
    
    &--lime {
        background: url('../images/page-bg-lime.png') no-repeat;
        background-position: 50% 0;
        background-size: 70%;
    }

    &--green {
        background: url('../images/page-bg-green.png') no-repeat;
        background-position: 50% 0;
        background-size: 70%;
    }

    &--orange {
        background: url('../images/page-bg-orange.png') no-repeat;
        background-position: 50% 0;
        background-size: 70%;
    }

    &--blue {
        background: url('../images/page-bg-blue.png') no-repeat;
        background-position: 50% 0;
        background-size: 70%;
    }

    &--purple {
        background: url('../images/page-bg-purple.png') no-repeat;
        background-position: 50% 0;
        background-size: 70%;
    }

    &--red {
        background: url('../images/page-bg-red.png') no-repeat;
        background-position: 50% 0;
        background-size: 70%;
    }
}
.introduce__title {
    line-height: 1.15;
    font-weight: 700;
    padding: 0 20px;
    &--lime {
        color: var(--lime);
    }
}
.page-video__text {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;

}
