.main-footer {
    margin-top: -200px;
    background: var(--black);
    padding: 35px 80px;
    box-sizing: border-box;
    color: var(--white);
    font-size: 12px;
    padding-right: 0;
}
.footer-logo__wrapper {
    width: 22%;
    display: inline-block;
    vertical-align: middle;
}
.footer-logo__img {
    width: 68%;
    height: auto;
}
.footer__column{
    width: 18.3%;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    border-left:1px solid white;
    padding-right: 10px;

    &--second {
        width: 19%;
    }
    &--third {
        width: 19.2%;
        padding-left: 14px;
    }
}
.logos__list {
    height: 100%;
    margin: 0;
    padding: 0;
}
.logos__item {
    list-style: none;
    margin: 18px 0;
    &:first-child,
    &:last-child {
        margin: 0;
    }
}
.logos__link {
    display: inline-block;
    width: 137px;
    height: 27px;
}
.logos__img {
    width: 100%;
}
.footer-addresses__name {
    margin-bottom: 10px;
}
.footer-addresses__subname {
    margin-bottom: 10Px;
    margin-bottom: 10px;
}
.footer-addresses__address {
    margin-bottom: 15px;
    color: var(--lime);
}
.footer-contacts {
    &__street,
    &__city,
    &__phone,
    &__fax,
    &__email {
        margin-bottom: 7px;
        &-link {
            color: var(--white);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}
