.main-footer {
    background: var(--black);
    padding: 35px 80px;
    box-sizing: border-box;
    color: var(--white);
    font-size: 12px;
    padding-right: 0;
}
.footer-logo__wrapper {
    width: 22%;
    display: inline-block;
    vertical-align: middle;
}
.footer-logo__img {
    max-width: 100%;
    height: auto;
}
.footer__column{
    width: 18.3%;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    border-left:1px solid white;
    padding-right: 10px;

    &--second {
        width: 19%;
    }
    &--third {
        width: 19.2%;
    }
}
.logos__list {
    height: 100%;
    margin: 0;
    padding: 0;
}
.logos__item {
    list-style: none;
    margin: 10px 0;
}
.footer-addresses__name {
    margin-bottom: 10px;
}
.footer-addresses__subname {
    margin-bottom: 10px;
}
.footer-addresses__address {
    margin-bottom: 15px;
    color: var(--lime);
}
