.main-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--black);
}
.compact-header {
    display: none;
    @extend .clearfix;
    padding: 40px 60px;
}
.header-logo__wrapper {
    float: left;
}
.gamburger {
    float: right;
    background: transparent;
    border: none;
    text-indent: -9999px;
    width: 76px;
    padding: 0;


    &:focus,
    &:hover {
        outline: none;
        & .gamburger__line:nth-child(1) {
            width: 100%;
            margin-left: 0;
        }
    }
}
.gamburger__line {
    width: 90%;
    margin-left: 10%;
    height: 8px;
    background: var(--lime);
    margin-bottom: 8px;
    transition: .3s;
}
.mobile-menu {
    display: none;
}
.mobile-menu__list,
.mobile-menu__inner-list {
    width: 100%;
    padding: 0;
    margin: 0;
}
.mobile-menu__item,
.mobile-menu__inner-item {
    border-top: 1px solid var(--white);
    width: 100%;
}
.mobile-menu__link,
.mobile-menu__inner-link {
    display: inline-block;
    width: 100%;
    padding: 18Px 60Px  18Px 90Px;
    font-size: 18Px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
}
.mobile-menu__inner-link {
    padding-left: 105Px;
    color: var(--green);
    background: #1b1b1b;
}
.main-menu {
    width: 100%;
    height: 660px;
}
.logo__wrapper {
    float: left;
    width: 40%;
    height: 21.5%;

}
.main-menu__video-wrapper {
    float: left;
    width: 40%;
    height: calc(57% - 1px);
    overflow: hidden;
    box-shadow: 0 0 0 1px gray;
}
.main-menu__video {
    width: 100%;
}
.main-menu__item {
    float: left;
    width: 20%;
    height: 21.5%;
    box-shadow: inset 1px -1px 0 0px gray;
    text-align: center;
    display: table-cell;
    line-height: 140px;
    transition: .3s;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    &:hover {
        background-color: var(--lime);
    }

    &--bg {
        line-height: initial;
        &:before {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }

}

.main-menu__text {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    height: auto;
    background: var(--lime-alpha);
    padding: 5px;
    color: var(--black);
}
.main-menu__search {
    float: left;
    width: 60%;
    height: 14%;
    box-shadow: inset 1px -1px 0 0px gray;

}
