
.product-detail__title {
    color: var(--lime);
    font-size: 46px;
    max-width: 70%;
    margin-bottom: 13px;
    letter-spacing: -0.9px;
}
.product-detail__subtitle {
    font-size: 34px;
    max-width: 66%;
    letter-spacing: -1.45px;
}
.product-detail__content {
    @extend .clearfix;
    margin-bottom: 58px;
}
.product-detail__leftside {
    float: left;
    width: 50%;
    padding: 0 63px 0 30px;
}
.product-detail__rightside {
    float: right;
    width: 50%;
    padding-right: 80px;
}
.product-parts {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.product-parts__line {
    list-style: none;
    padding: 14px 0;
    border-bottom: 1px solid var(--black);
    font-size: 15px;

    &--title {
        border-top: 1px solid var(--black);
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px 0;
    }
}
.product-parts__num {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 8%;
    padding: 0 5px;
    
}
.product-parts__code {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 24%;
    color: var(--lime);
    text-transform: uppercase;

    &--title {
        color: var(--black);
    }
}
.product-parts__desc {
    vertical-align: top;
    display: inline-block;
    width: 54%;
    text-align: left;
}
.product-parts__quant {
    display: inline-block;
    width: 14%;
    vertical-align: top;
    text-align: center;
    padding: 0 5px;
}
.product-detail__links {
    text-align: left;
    margin-left: 47px;
}
.product-detail__link-wrapper {
    position: relative;
    padding-left: 46px;
    margin-bottom: 31px;
    & .fa {
        position: absolute;
        left: 0;
        top: -9px;
        color: #dedc00;
        font-size: 30px;
    }
}
.product-detail__link {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    letter-spacing: 0.1px;
    font-size: 15px;
    font-weight: 400;

    & span {
        display: inline-block;
        width: 100%;
    }
}
.bottom-carousel {
    position: relative;
}
.bottom-carousel__title-wrap {
    margin-bottom: 55px;
}
.bottom-carousel__title {
    font-size: 37px;
    letter-spacing: -0.5px;
    font-weight: 600;
}
.bottom-carousel__subtitle {
    font-size: 24px;
    letter-spacing: -0.45px;
}
.bottom-carousel__slide {
    width: 25%;
}
.bottom-carousel__image-wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}
.bottom-carousel__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bottom-carousel__slide-name {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.product-detail__main-slider {
    position: relative;
    margin-bottom: 68px;
}
.product-detail__slide-wrapper {
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.product-detail__slide-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.slick-arrow {
    position: absolute;
    top: 44.7%;
    text-indent: -9999px;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    border-top: 4px solid var(--lime);
    z-index: 50;
    outline: none;
    transition: .3s
}
.slick-next {
    border-right: 4px solid var(--lime);
    transform: rotate(45deg);
    right: 2px;

    &:hover {
        transform: rotate(45deg) translate(4px,-4px);
    }
}
.slick-prev {
    transform: rotate(-45deg);
    border-left: 4px solid var(--lime);
    left: 2px;

    &:hover {
        transform: rotate(-45deg) translate(-4px,-4px);
    }
}
