.home-page .main-menu {
	display: none;
}
.home-page .compact-header {
	display: block;
}
html {
	font-size: 2.14vw;
}
.compact-header {
	padding: 21px 56px;
	padding-bottom: 17px;
}
.header-logo__wrapper {
	width: 228px;
	height: auto;
}
.gamburger {
	width: 57px;
}
.gamburger__line {
	width: 100%;
	margin-left: 0;
	margin-bottom: 7px;
	height: 6px;
}
.container--home {
	padding: 22px 65px;
	padding-bottom: 63px;
	margin-bottom: 0;
}
.introduce {
	margin-bottom: 100px;
}
.introduce__title {
	font-size: 33px;
	letter-spacing: -0.7px;
	margin-bottom: 30px;
}
.introduce__text {
	line-height: 1.45;
	font-size: 24px;
}
.products__list {
	padding: 0 55px;
}
.products__item {
	margin: 0;
	width: 100%;
	margin-bottom: 65px;
	font-size: 34px;

	&:nth-child(4),
	&:nth-child(5) {
		width: 100%;
		& .products__img-wrapper {
			padding-top: 100%;
		}
		& .products__name {
			min-width: 80%;
		}
	}
}
.main-footer {
	padding: 69px 57px;
}
.footer-logo__wrapper {
	width: 355px;
	display: block;
	margin-bottom: 27px;
}
.footer__column {
	width: 100%;
	border-left: none;
	display: block;
	padding: 0;
	margin-bottom: 32px;
	font-size: 20px;

	&--second,
	&--third,
	&--fourth {
		width: 100%;
		margin-bottom: 36px;
	}
	&--third {
		margin-bottom: 19px;
	}

	
	&:before {
		margin-bottom: 26px;
		height: 1Px;
		width: 70%;
		background:#ffffff;
		content: '';
		display: block;
	}
}
.logos__list {
	padding-top: 8px;

}
.logos__item {
	margin: 12px 0;
}
.logos__link {
	width: 230px;
}
.footer-addresses__name {
	margin-bottom: 6px;
}
.footer-addresses__address {
	letter-spacing: -0.3px;
	margin-bottom: 6px;
}
.footer-contacts {
	padding: 10px 0;
	font-weight: 300;
}
.footer-socials__item {
	margin-right: 8px;
}
.footer-socials__link {
	font-size: 20px;
}
.footer-contacts__street {
	display: inline-block;
}
.footer-contacts__city {
	display: inline-block;

	&:before {
		display: inline;
		content: '-';
		margin-right: 4px;
	}
}
.footer-contacts__phone {
	display: inline-block;
}
.footer-contacts__fax {
	&:before {
		display: inline;
		content: '-';
		margin-right: 3px;
	}
	display: inline-block;
}
.privacy {
	padding: 15px 0;
}
.privacy__row {
	margin-bottom: 6px;
}
.privacy__link {
	font-size: 20px;
	text-transform: lowercase;
	font-weight: 300;
}
/*---- 02 page -----*/

.page__title {
	font-size: 33px;
	padding: 27px;
}
.page__content-container {
	padding: 40px 50px;
	width: auto;
}
.introduce {
	padding: 36px 25px;
	padding-bottom: 8px;
	margin-bottom: 0;
	background-size: 100%;
}
.page-video__info {
	width: 75%;
	letter-spacing: 0.05px;
	font-size: 24px;
	padding: 21px 57px;
	padding-bottom: 86px;
	margin-bottom: 0;
}

/*------- 03 page -------*/

.container--product-category {
	padding: 47px 0;
}
.product-category__title {
	font-size: 40px;
	letter-spacing: -0.8px;
	text-align: center;
}
.product-category__image-wrapper {
	width: 100%;
	margin-bottom: 60px;
}
.product-category__content {
	padding: 0 100px;
	text-align: center;
}
.collection__name-wrapper {
	width: 100%;
	text-align: center;
	margin-bottom: 24px;
}
.collection__name {
	letter-spacing: 0.8px;
}
.collection__author {
	letter-spacing: -0.6px
}
.collection__info {
	width: 100%;
	text-align: center;
	margin-bottom: 77px;
}
.collection__download {
	width: 100%;
	padding: 0;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	&:before {
		margin-right: 16px;
	}
}
.collection__download-link {
	letter-spacing: 0;
}
.collection__item {
	width: 50%;
}
/*------- 04 page -------*/

.container--product-detail {
	padding: 49px 55px;
	margin-bottom: 100px;
}

.product-detail__title {
	font-size: 40px;
	margin-right: 50px;
	text-align: center;
	max-width: initial;
}
.product-detail__subtitle {
	font-size: 26px;
	letter-spacing: initial;
	font-weight: 400;
	max-width: initial;
}
.product-detail__leftside {
	float: none;
	width: 100%;
}
.product-detail__rightside {
	float: none;
	width: 100%;
	padding: 0 15px;
}

.single-news__content-cantainer {
	padding: 60px 20px;
}
.single-news__title {
	width: 100%;
	margin-bottom: 40px;
}
.single-news__text-wrapper {
	padding: 0 30px;	
}
