.main-header
    .cookie
        .cookie__text
            | Questo sito utilizza cookie di analisi e di prestazione per migliorarea navigazione degli utenti. Proseguendo la navigazione acconsenti all’uso dei cookie. Per maggiori informazioni clicca qui.
        .cookie__close-btn
            .cookie__cross
                button(type='button')
                    | X
            .cookie__link
                a(class='cookie__link' href='#')
                    | chiudi
    .compact-header
        include _components/_header-logo
        button.search-btn
            i.fa.fa-search
        include _components/_gamburger
        form.mobile-search
            label.mobile-search__label
                input.mobile-search__input(placeholder="trova una sedia")
            button(type="submit").mobile-search__submit
                i.fa.fa-search
    .mobile-menu
        ul.mobile-menu__list
            -var items = ['prodotti', 'filiera', 'news', 'valori', 'contatti']
            each item in items
                li.mobile-menu__item
                    .mobile-menu__link-wrap
                        a(class='mobile-menu__link' href='#')= item=='language'? '' : item
                        -if (item == 'prodotti')
                            .mobile-menu__arrow
                                    i.fa.fa-angle-down
                        -if (item == 'valori')
                            .mobile-menu__arrow
                                i.fa.fa-angle-down
                    -if (item == 'prodotti')
                        ul.mobile-menu__inner-list
                            -var arr = ['direzionali', 'attesa', 'high_line', 'operative', 'lavoro']
                            each i in arr
                                li.mobile-menu__inner-item
                                    .mobile-menu__inner-link-wrap
                                        a(class='mobile-menu__inner-link' href='#')= i
                    -if (item == 'valori')
                        ul.mobile-menu__inner-list
                            -var arr = ['ricerca', 'collaborazione', 'accuratezza', 'ergonomia', 'flessibilita', 'organizzazione']
                            each i in arr
                                li.mobile-menu__inner-item
                                    .mobile-menu__inner-link-wrap
                                        a(class='mobile-menu__inner-link' href='#')= i
        ul.mobile-menu__langs
            -var langs = ['it', 'en']
            each lang in langs
                li.mobile-menu__lang
                    a(class='mobile-menu__lang-link' + ((lang == 'it') ? ' active' : '') href='#')= lang
        ul.mobile-menu__socials
            -var socials = ['twitter', 'facebook', 'linkedin', 'youtube', 'pinterest']
            each social in socials
                li(class='socials__item')
                    a(class='socials__link socials__link--' + social href='#')
                        i(class="fa fa-" + social)
    .main-menu
        .logo__wrapper
            include _components/_header-logo
            //- include _components/_language
        a(class='main-menu__item' href='#')
            | prodotti
        a(class='main-menu__item' href='#')
            | filiera
        a(class='main-menu__item' href='#')
            | news
        .main-menu__video-wrapper.video-wrapper
            video(width="100%" height="100%" class='main-menu__video superembed-square' poster='commons/images/video-poster.jpg' preload='metadata')
                source(src="commons/video/Brado Office Interzum 2015-SD.mp4" type="video/mp4")/
                source(src="" type="video/webm")/
                source(src="" type="video/ogg")/
                object(type="application/x-shockwave-flash" data="" width="640" height="360")
                    param(name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf")/
                    param(name="allowFullScreen" value="true")/
                    param(name="wmode" value="transparent")/
                    param(ame="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}")/
                    img(alt="Brado Office" src="commons/images/video-poster.jpg" width="100%" height="100%" title="No video playback capabilities, please download the video below")/
            i(class="video-btn video-btn--menu fa fa-play-circle" aria-hidden="true")
        a(href="#" class="main-menu__item main-menu__item--bg main-menu__item--ricerca")
            .main-menu__text
                | ricerca
        a(href="#" class="main-menu__item main-menu__item--bg main-menu__item--collaborazione")
            .main-menu__text
                | collaborazione
        a(href="#" class="main-menu__item main-menu__item--bg main-menu__item--accuratezza")
            .main-menu__text
                | accuratezza
        a(href="#" class="main-menu__item main-menu__item--bg main-menu__item--ergonomia")
            .main-menu__text
                | ergonomia
        a(href="#" class="main-menu__item main-menu__item--bg main-menu__item--flessibilita")
            .main-menu__text
                | flessibilita
        a(href="#" class="main-menu__item main-menu__item--bg main-menu__item--organizzazione")
            .main-menu__text
                | organizzazione
        form(action="" class="main-menu__search")
            label
                | trova una SEDIA
                input(class="main-menu__search-input" type="search")
                button.main-menu__search-arrow(type='submit')
                    i(class="fa fa-chevron-right" aria-hidden="true")
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | direzionali
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | attesa
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | high_line
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | operative
        a(href="#" class="main-menu__item main-menu__item--bottom")
            | lavoro
            
    
        
                
        
                    
                
