.cookie {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 515px;
    padding: 15Px;
    color: #fff;
    background: rgba(33,33,33, .9);
    font-size: 14Px;
}
.cookie__close-btn {
    display: inline-block;
}
.cookie__cross {
    display: inline-block;
}
.cookie__link {
    display: inline-block;
    text-transform: uppercase;
    color: var(--lime);
    text-decoration: none;
}
