.page-video__wrapper {
    overflow: hidden;
    position: relative;
}
.page-video__video {
    width: 100%;
    height: auto;
}
.page-video__btn {
    position: absolute;
    width: 143px;
    height: 143px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: none;

    &--lime {
        background: var(--lime);
    }
    &--green {
        background: var(--green);
    }
    &--orange {
        background: var(--orange);
    }
    &--blue {
        background: var(--blue);
    }
    &--purple {
        background: var(--purple);
    }
    &--red {
        background: var(--red);
    }

    &:before {
        position: absolute;
        left: 3.8rem;
        top: 2.7rem;
        content: '';
        border: 2.5rem solid transparent;
        border-left: 3.9rem solid var(--black);
    }
}
.page-video__info {
    width: 50%;
    padding: 29px 0 29px 170px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 110px;
    letter-spacing: -0.25px;
}
.page-video__title {
    &--white {
        color: var(--white);
    }
}
.page-video__duration {
    text-transform: uppercase;
    margin-bottom: 15px;

    &--lime {
        color: var(--lime);
    }
    &--green {
        color: var(--green);
    }
    &--orange {
        color: var(--orange);
    }
    &--blue {
        color: var(--blue);
    }
    &--purple {
        color: var(--purple);
    }
    &--red {
        color: var(--red);
    }
}
