.footer-socials__list {
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
}
.footer-socials__item {
    display: inline-block;
    list-style: none;
    margin-right: 7px;
}
.footer-socials__link {
    display: inline-block;
    color: var(--lime);
    text-decoration: none;
    transition: .3s;
    font-size: 12px;
}
